{% extends 'base.html' %}
{% block js %}{% endblock %}
{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section">
  <div class="hero-bg">
    <img src="/static/img/hero-bg-light.webp" alt="">
  </div>
  <div class="container text-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 data-aos="fade-up" class="">Welcome to <span>Automated Proctoring System</span></h1>
      <p data-aos="fade-up" data-aos-delay="100" class="">
        Automated Proctoring System is a web-based application that helps to monitor the students during the examination
        <br>
      </p>
      <div class="d-flex" data-aos="fade-up" data-aos-delay="200">

        {% if session.isauth %}
        {% if session.role == 'admin' %}
        <a href="/admin" class="btn-get-started">Admin</a>
        {% endif %}
        <a href="/dashboard" class="btn-get-started">Dashboard</a>
        {% else %}
        <a href="/register" class="btn-get-started">Get Started</a>
        {% endif %}
      </div>
      <img src="/static/img/hero-services-img.webp" class="img-fluid hero-img" alt="" data-aos="zoom-out"
        data-aos-delay="300">
    </div>
  </div>

</section><!-- /Hero Section -->
{% endblock %}
{% block css %}{% endblock %}